.gradient-bg {
  min-height: 100vh;
  background-color: #0b0f1a;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.gradient-text {
  background: linear-gradient(45deg, #ff512f, #cd2071);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
